<% if params[:box_id].blank? %>
<%   @menu_page = :items %>
<% else %>
<%   @menu_page = :boxes %>
<% end %>
<%= render 'account/account_nav' %>
<div class="grid_9">
<ul id="create-portfolio" class="thumbnails ">
	<% @stored_items.each do |stored_item| %>
		<li>
			<div class="post-thumbnail">
				<a href="#"><%= image_tag(stored_item.photo.url(:medium), :name => "medium_" + stored_item.id.to_s) %></a>
				<ul>
					<li><a href="#">Sell</a></li>
					<div class="secondchild"><li><a href="#">Donate</a></li></div>
					<div class="thirdchild"><li><a href="#">Dispose</a></li></div>
					<div class="fourthchild"><li><a href="#">Mail</a></li></div>					
				</ul>
			</div>
			<p class="tags">
				<% stored_item.stored_item_tags.each do |tag| %>
				<% if tag != stored_item.stored_item_tags.first %>
				, 
				<% end %>
				<a href="#"><%= tag.tag %></a>
				<% end %>
			</p>
		</li>
	<% end %>
</ul>
</div>
