html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
	font-family: Trebuchet MS, Tahoma, Verdana, sans-serif;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* ABOVE IS CSS RESET */

/* ------------------------------------------------------------- */

/* BLOCKS */

#toplip {
    height: 18px;
    background-color: #323232;
    width: 100%;
    color: #a8a8a8;
    font-size: 11px;
    line-height: 18px;
    text-align: right;
    font-family: Helvetica;
}

#container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#block {
    width: 940px;
    margin-left: 10px;
    display: block;
}

#header {
    width: 940px;
    display: block;
    padding: 0px;
    position: relative;
}

#logo {
    width: 240px;
    display: block;
    float: left;
}

#nav {
    width: 700px;
    display: block;
    float: left;
    margin-top: 50px;
}

#login {
    width: 120px;
    height: 45px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#nav ul {
    float: right;
}

#side-menu {
    width: 200px;
    color: #006fb3;
}

#home-extra {
    width: 940px;
    display: block;
    color: #387699;
}

#home-extra-left {
    width: 740px;
    float: left;
    font-size: 14px;
    line-height: 18px;
    color: #387699;
}

#home-social {
    width: 200px;
    float: left;
    text-align: center;
    font-size: 10px;
}

#home-info {
    width: 940px;
    display: block;
    color: #323232;
}

#footer {
    color: #d2d2d2;
    font-size: 10px;
    padding-bottom: 40px;
}

#viewer {
    width: 940px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

#viewer-left {
    width: 625px;
    height: 300px;
    display: block;
    float: left;
    background-color: #25aae1;
}

#viewer-right {
    width: 315px;
    display: block;
    float: left;
    position: relative;
}

#viewer-right-top {
    background-color: #5eb1e1;
    width: 315px;
    height: 150px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#viewer-right-bottom {
    background-color: #323232;
    width: 315px;
    height: 150px;
    position: absolute;
    top: 150px;
    right: 0px
}

#internal-left {
    width: 240px;
    float: left;
    padding: 20px 0px 20px 0px;
}

#internal-right {
    width: 700px;
    float: left;
    padding: 20px 0px 20px 0px;
}

/* MODIFIERS */

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#page-content {
    font-size: 14px;
    line-height: 18px;
    color: #323232;
}

#page-content a {
    color: #387699;
}

#page-content li {
    list-style-type: disc;
}

#toplip a {
    color: #fff;
}

#side-menu ul {
    
}

#side-menu li {
    display: block;
    height: 33px;
    line-height: 33px;
    font-size: 16px;
    padding: 0px;
}

#side-menu .active {
    background-image: url('../images/menuBG.gif');
    background-position: right;
}

#side-menu a {
    text-decoration: none;
    color: #006fb3;
    padding-left: 10px;
    display: block;
}

#side-menu .active a {
    color: #ffffff;
}

#side-menu h2 {
    padding-left: 10px;
    padding-bottom: 30px;
}

#viewer-right-top p {
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #434343;
}

#viewer-right-top p strong {
    color: #377598;
}

#viewer-right-top p .learnmore {
    color: #fff;
    text-align: right;
    display: block;
}

#home-info .box {
    width: 280px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

#home-extra-left p {
    padding: 10px;
}

#home-social .facebook-icon {
    margin-right: 20px;
}

#home-social p {
    padding-top: 10px;
}

#home-info .box h2 {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 6px;
}

#home-info .box p {
    font-size: 14px;
    line-height: 18px;
}

#home-info .leftgap {
    margin-left: 20px;
}

#footer .copyright {
    float: left;
    width: 640px;
}

#footer .legal {
    float: left;
    width: 300px;
    text-align: right;
}

#footer .legal a {
    color: #d2d2d2;
}

#viewer .upperleftcorner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 13px;
    height: 10px;
    z-index: 999;
}

#viewer .upperrightcorner {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 13px;
    height: 10px;
    z-index: 999;
}

#viewer .lowerleftcorner {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 13px;
    height: 10px;
    z-index: 999;
}

#viewer .lowerrightcorner {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 13px;
    height: 10px;
    z-index: 999;
}


#viewer-right .calltoaction {
    position: absolute;
    width: 353px;
    height: 43px;
    top: 120px;
    left: -15px;
}

#viewer-right-bottom img {
    padding: 15px 0px 0px 10px;
}

/* CLASSES */

.clearer {
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    clear: both;
}

.top-border {
    border-top: solid 1px #d4d4d4;
    margin-top: 10px;
    padding-top: 10px;
}

.bottom-border {
    border-bottom: solid 1px #d4d4d4;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.graybox {
    display: block;
    background-color: #e4e4e4;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 20px;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
}

.graybox table {
    width: 100%;
    color: #444444 !important;
}

.graybox td, .graybox th {
    padding: 10px;
    text-align: center;
}

.graybox th {
    border-bottom: 1px solid #c7c7c7;
    font-size: 10px;
}

.graybox tfoot td {
    border-top: 1px solid #f4f4f4;
}

.graybox .top-line td {
    border-top: 1px solid #f4f4f4;
}

.graybox .bottom-line td {
    border-bottom: 1px solid #c7c7c7;
}

.graybox .estimate {
    font-size: 20px;
    text-align: left;
}

.graybox .estimate .tiny {
    font-size: 12px;
    margin-top: 20px;
}

.graybox .checkout {
    vertical-align: bottom;
}

.graybox input[type="text"] {
    border: 1px solid #c7c7c7;
}

/* PAGE SPECIFIC */

/* how it works */
.how-it-works {
    width: 940px;
    height: 289px;
    padding: 10px 0px 50px 0px;
}

/* browse */
.browse-box {
    width: 200px;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #323232;
    position: relative;
    padding: 15px;
}

.browse-box-name {
    font-weight: bolder;
    color: #006fb3;
}

.browse-box strong {
    color: #006fb3;
}

.browse-headline {
    font-weight: bolder;
    font-size:14px;
    line-height: 30px;
    text-align: center;
    position: relative;
    top: -12px;
}

.browse-headline strong {
    font-size: 30px;
    color:  #558fb1;
}

.browse-box-menu {
    width: 200px;
    height: 160px;
    position: absolute;
    top: 60px;
    left: 15px;
}

.browse-box-menu-contents {
    display: none;
    width: 160px;
    height: 140px;
    background-color: #b8daf5;
    -moz-box-shadow: 0px 0px 6px #666;
    -webkit-box-shadow: 0px 0px 6px #666;
    box-shadow: 0px 0px 6px #666;
    border: 2px solid #fff;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
    text-align: left;
    margin-left: 10px;
    opacity: .95;
}

.browse-box-menu-contents-head {
    font-size: 20px;
    line-height: 28px;
    color: #558fb1;
}

.browse-box-menu-contents li a {
    color: #323232 !important;
    display: block;
    padding-left: 10px;
}

.browse-box-menu-contents li {
    list-style-position: inside;
    list-style-type: none !important;
}

.browse-box-menu-contents li a:hover {
    color: #000 !important;
    background-color: #558fb1;
}
