<% @menu_page = :account %>
<%= render 'account/account_nav', :locals => { :menu_page => @menu_page } %>
<div id="internal-right" style="width: 50%">
<div class="simple_header">Create New Card</div>
(<%= link_to 'see all credit cards', payment_profiles_path %>)
<% if @profile.errors.size > 0 %>
<% # If there is a credit card error, it is always followed by garbage. %>
  <div class="error_label"><%= @profile.errors[:cc_response][0] %></div><br>
<% end %>
<%= render 'form', :locals => { :profile => @profile } %>
</div>
<div class="clearer"></div>
