<% @menu_page = :account %>
<%= render 'account/account_nav', :locals => { :menu_page => @menu_page } %>
<div class="simple_header">Create New Card</div>
<div id="internal-right">
<% if @profile.errors.size > 0 %>
<% # If there is a credit card error, it is always followed by garbage. %>
  <div class="error_label"><%= @profile.errors[:cc_response][0] %></div><br>
<% end %>
<%= render 'form', :locals => { :profile => @profile, :credit_card => @credit_card } %>
</div>
<div class="clearer"></div>