
					
					<div class="grid_8">					
						<p class="promo_text"><a href="#">Your stuff.</a> Organized. Safeguarded. At your fingertips.</p>
						
						<div class="promos" id="slider_01">
							<ul class="stripped promo-nav">
								<li><a href="#" class="prev">Prev</a></li>
								<li><a href="#" class="next">Next</a></li>
							</ul>							
							<ul class="promos stripped">
								<li><img width="620" height="300" src="images/messy1.jpg" alt="Messy!" /></li>
								<li class="hidden"><img width="620" height="300" src="images/samples/620x300/10.jpg" alt="Slider Image" /></li>
								<li class="hidden"><img width="620" height="300" src="images/samples/620x300/11.jpg" alt="Slider Image" /></li>
							</ul>
							<script type="text/javascript">
								jQuery(function($) { 
									$("#slider_01 ul.promos").cycle({
										'fx':'fade',
										'pause' : 2,
										'next': '#slider_01 .next',
										'prev': '#slider_01 .prev'
									});
								});
							</script>
						</div>
						
						<p>Most storage solutions are like black holes. Once you put something in your attic, basement or storage unit, how long before it becomes just another lost memory?</p>
						<p>At <a href="/">The Visible Closet</a> we make your closet ... well, visible! Store with us and you can search your items by keyword, view pictures of them, send individual items to any address, sell items, or dispose of them in an environmentally sustainable manner -- all with the click of a button.</p>
						<p>See our <a href="/about">How It Works</a> section to learn learn more, and <a href="/register">sign up</a> today!</p>
					</div><!--//grid_8-->
					
					<div class="grid_4">					
						<p><p><p><p><p>
						<div class="widget cudazi-recent-posts">
							<h3>The Latest</h3>
							<ul class="clearfix">
								<li class="clearfix"><span>Jun 30</span> <a href="#">Special offer - free shipping</a></li>
								<li class="clearfix"><span>Jun 17</span> <a href="#">We are now accepting beta users!</a></li>
							</ul>
						</div>
						
						<div class="widget">
							<h3>Is this right for me?</h3>
								<p>Moving? Downsizing? Remodeling? Cleaning? <a href="/">The Visible Closet</a> is a great solution for a wide variety of people. <a href="/pages/right_for_me">Find out more >></a></p>
						</div><!--//widget-->
						<div class="widget cudazi-social-icons">
							<ul class="stripped">
								<li><a href="http://www.twitter.com/visiblecloset"><img src="images/social_icons/twitter.png" alt="Social Icon" /></a></li>
								<li><a href="#"><img src="images/social_icons/facebook.png" alt="Social Icon" /></a></li>
							</ul>
						</div><!--//widget-->

						
						
					</div><!--//grid_4-->
					
