
            <div id="home-subheader">
                <img src="images/subheader.gif" alt="Your stuff. Organized. Safeguarded. At your fingertips." />
            </div>
            <div id="viewer">
                <div id="viewer-left">
                </div>
                <div id="viewer-right">
                    <div id="viewer-right-top">
                        <p>Moving? Downsizing? Remodeling? Cleaning? <strong>The Visible Closet</strong> is a great solution for a wide variety of people.<br /><span class="learnmore">Learn more
	<% if !user_signed_in? %>&amp; sign up now<% else %>&gt;&gt;<% end %>
		</span></p>
                    </div>
                    <div id="viewer-right-bottom">
                        <img src="images/rightforme.gif" alt="Is this right for me?" />
                    </div>
					<% if !user_signed_in? %>
                    <a href="/users/register" class="calltoaction"><img src="images/calltoaction.png" alt="Sign Up Now" /></a>
					<% end %>
                </div>
                <img src="images/upperleft.png" alt="" class="upperleftcorner" />
                <img src="images/upperright.png" alt="" class="upperrightcorner" />
                <img src="images/lowerleft.png" alt="" class="lowerleftcorner" />
                <img src="images/lowerright.png" alt="" class="lowerrightcorner" />
                <div class="clearer"></div>
            </div>
            <div id="home-extra">
                <div id="home-extra-left"><p>Most storage solutions are like black holes. Once you put something in your attic, basement or storage
                unit, how long before it becomes just another lost memory?</p><p>Store with us and you can search your items by keyword, view pictures of them, send individual items to any address, sell items, or dispose of them in an environmentally sustainable manner -- all with the click of a button.</p></div>
                <div id="home-social">
                    <a href="#" class="facebook-icon" target="new"><img src="images/facebook.gif" alt="" /></a>
                    <a href="http://twitter.com/visiblecloset" class="twitter-icon" target="new"><img src="images/twitter.gif" alt="" /></a>
                    <p class="tell-a-friend">Tell a Friend!</p>
                </div>
                <div class="clearer"></div>
            </div>
            <div id="home-info" class="top-border">
                <div class="box leftgap">
                    <h2>Store</h2>
                    <p>Storage lockers just don't make sense anymore. Why lug your stuff to a bad neighborhood only to use half of an expensive locker? With The Visible Closet, you can ship and retrieve your boxes with Fedex and pay only for the storage space that you need.</p>
                </div>
                <div class="box">
                    <h2>Inventory</h2>
                    <p>By choosing the optional inventory service, you put your items just a mouseclick away. We'll photograph your stuff so you can easily peruse your items, and  tag them so you can easily find what you're looking for.</p>
                </div>
                <div class="box">
                    <h2>Manage</h2>
                    <p>Once you have inventoried your items you can manage them individually or in groups. Mail an item to an address. Sell or donate items*. Safely dispose of items. All from the comfort of your home.</p>
<p><i>Coming soon!</i></p>
                </div>
                <div class="clearer"></div>
            </div>
