At some point this will need to be formatted for printing as a shipping label.

In the meantime, here's a <a href="/admin/home">link</a> to admin home, and <a href="/admin/send_boxes">here</a>'s a link to process more orders.