<div id="faq" class="slim-centered" >
	<h1>Frequently Asked Questions</h1><br><Br>
	
	<p class="q">Q: What does "inventorying" mean?</p>
	<p>A: Inventorying is an optional service provided by The Visible Closet. If you choose to inventory, we will open your box, take a picture of the items inside, and post the pictures to your account so you can easily see what you have in storage and manage items individually.</p>

	<p class="q">Q: Do I have to choose the inventory option?</p>
	<p>A: Absolutely not! We only inventory the boxes that you have chosen to be inventoried. Any boxes not marked for inventorying are never opened by us.</p>

	<p class="q">Q: What does "manage items individually" mean?</p>
	<p>A: The services we plan to offer include selling items, shipping items to an address of your choosing, donating items to charity, and environmentally sustainable disposal of items. All of these services are only available if you have chosen to inventory a box.</p>

	<p class="q">Q: Do you ship internationally?</p>
	<p>A: We are working on it! We plan to offer this option soon. At this time, however, we only ship within the United States.</p>

	<p class="q">Q: How do I ship my box to you?</p>
	<p>A: First, sign up to have your box stored. Once you have done so, you will have the opportunity to print out a Fedex shipping label. Print that on any printer, affix it to your box, and contact Fedex at 1-800-GO-FEDEX to schedule an appointment to have your box picked up (or visit any of Fedex's many locations to drop it off).</p>

	<p class="q">Q: Can I ship my boxes using another carrier?</p>
	<p>A: Sure! Just be sure to do the following:
<ol>
	<li>Order your box via www.thevisiblecloset.com first. That way we know it's coming. Once you do that, you will have the box "in inventory", waiting to be shipped by you. Get the box number from your "Browse Boxes" link under "Account", or from the "Order Complete" page from when you ordered your box.</li>

	<li>Write down your box number on the outside of your box like so: BOX # 123</li>

	<li>If you would like your box to be inventoried, please write "inventorying requested" on the outside of the box.</li>

	<li>Ship to the following address:
<div style="padding: 10px 0 0 15px"
<%= raw vc_address %>
</div>
	<insert address from configuration>
		</li>
		</p>
	<p class="q">Q: Can I ship The Visible Closet boxes using another carrier?</p>
	<p>A: Sure! When you receive boxes from The Visible Closet they will come with a Fedex label already attached. Cover that label and follow the directions above for the answer to question "Can I ship my boxes using another carrier?"</p>

	<p class="q">Q: I don't want to pay for shipping. How can I take advantage of The Visible Closet services?</p>
	<p>A: At this time we only offer drop-off services in the Chicago area. If you are interested in dropping off items to put into storage, please contact us to schedule an appointment.</p>

	<p class="q">Q: Do you offer pick-up services?</p>
	<p>A: We do not offer pick-up services at this time.</p>

	<p class="q">Q: Is my stuff secure?</p>
	<p>A: Yes! Your stuff is stored at a secure storage location in the Chicago area, always under lock and key or under the direct supervision of a Visible Closet employee.</p>

    <p class="q">Q: Is thevisiblecloset.com secure?</p>
    <p>A: You can shop at thevisiblecloset.com with confidence. We have partnered with Authorize.Net, a leading payment gateway since 1996, to accept credit cards and electronic check payments safely and securely for our customers.</p>
    <p>The Authorize.Net Payment Gateway manages the complex routing of sensitive customer information through the electronic check and credit card processing networks. See an online payments diagram to see how it works.</p>
    <p>The company adheres to strict industry standards for payment processing, including:</p>
    <ul>
        <li>128-bit Secure Sockets Layer (SSL) technology for secure Internet Protocol (IP) transactions. Industry leading encryption hardware and software methods and security protocols to protect customer information. Compliance with the Payment Card Industry Data Security Standard (PCI DSS).</li>
        <li>For additional information regarding the privacy of your sensitive cardholder data, please read the Authorize.Net Privacy Policy. thevisiblecloset.com is registered with the Authorize.Net Verified Merchant Seal program.</li>
    </ul>

	<p class="q">Q: Can I have my boxes returned to another address?</p>
	<p>A: Absolutely! So long as the address is in the United States we will ship it to anywhere.</p>

	<p class="q">Q: What kind of boxes and packing supplies do you send?</p>
	<p>A: All Visible Closet boxes are 12 by 12 by 24 inches, double-walled. We also provide bubble wrap and tape.</p>

	<p class="q">Q: How do I pay for services?</p>
	<p>A: In order to be an active customer of The Visible Closet you must have a default credit card and shipping address on file. You can set this up under account preferences.</p>

	<p class="q">Q: Do you offer insurance for my boxes?</p>
	<p>A: We are working on it! At this time we do not offer supplemental insurance for customers. Most of the time, customer goods are covered under homeowner's and renter's insurance policies. Check with your insurance provider for more details.</p>

	<p class="q">Q: How much will it cost to mail my boxes?</p>
	<p>A: That depends on where they are being mailed from / to and how much they weight. Due to our volume we are able to secure a discount from Fedex for shipping, so it is always a good idea to ship through us. Since we are located in the Chicago area, no point in the continental United States is particularly expensive. Below is a list of example rates for different cities in the US for a 20 lb Visible Closet box.
<br><br>
	Chicago: $7.59<br>
	New York City: $10.26<br>
	Miami: $12.89<br>
	San Francisco: $17.81<br>
</p>
	<p class="q">Q: Is there anything I can't store?</p>
	<p>A: We will store many, many things, but we do have a few <a href="/restrictions">restrictions</a>.</p>

	<p class="q">Q: What if I order a box but take a while to send it in?</p>
	<p>A: When you order a box you are charged for the first month's rent. After that, you are not charged again until your stuff is in storage.</p>

	<p class="q">Q: More questions? Contact us!</p>
	<p>A: We are more than happy to help! Please <a href="/contact">contact</a> us and we will do our best.</p>
	
</div>
