<div class="grid_1">&nbsp;</div>
<div class="grid_11">
<div class="simple_body">
<p>THE FOLLOWING TERMS AND CONDITIONS GOVERN YOUR USE OF THEVISIBLECLOSET.COM. YOUR VIEWING OR USE OF THIS SITE WILL CONSTITUTE YOUR AGREEMENT, ON BEHALF OF YOURSELF AND THE ENTITY YOU REPRESENT (HEREINAFTER COLLECTIVELY "YOU" OR "YOUR"), TO ALL OF THE TERMS AND CONDITIONS PROVIDED BELOW.</p>
 
<p>THEVISIBLECLOSET MAY MAKE FUTURE CHANGES OR MODIFICATIONS TO SUCH TERMS AND CONDITIONS AT ANY TIME WITHOUT NOTICE, AND YOUR SUBSEQUENT VIEWING OR USE OF THEVISIBLECLOSET.COM WILL CONSTITUTE YOUR AGREEMENT TO THE CHANGES AND MODIFICATIONS. THERE MAY BE ADDITIONAL TERMS AND CONDITIONS PROVIDED THROUGHOUT THEVISIBLECLOSET.COM GOVERNING YOUR USE OF PARTICULAR FUNCTIONS, FEATURES, INFORMATION AND APPLICATIONS AVAILABLE THROUGH THEVISIBLECLOSET.COM.</p>
 </div>
<div class="simple_header">Contents</div>
<div class="simple_body">
<ul>
<li><a href="#q1">Definitions</a></li>
<li><a href="#q2">Use of thevisiblecloset.com</a></li>
<li><a href="#q3">thevisiblecloset.com Login Registration</a></li>
<li><a href="#q4">Changes to thevisiblecloset.com</a></li>
<li><a href="#q5">Termination of use</a></li>
<li><a href="#q6">Ownership</a></li>
<li><a href="#q7">Disclaimer of warranty</a></li>
<li><a href="#q8">Limitation of Liability</a></li>
<li><a href="#q9">Indemnity</a></li>
<li><a href="#q10">Links to other web sites</a></li>
<li><a href="#q11">Privacy Policy</a></li>
<li><a href="#q12">Controlling Law and Severability</a></li>
</ul>
</div>
<div class="simple_header"><a id="q1" name="q1"></a>
Definitions
</div>
<div class="simple_body">
<u>Content</u>: information, graphics, products, features, functionality, services, and links on thevisiblecloset.com.
 <br>
<u>thevisiblecloset.com</u>: The Visible Closet Inc, thevisiblecloset.com, The Visible Closet, its parent and its parent's subsidiary companies.
 <br>
<u>You</u>: Yourself and the entity that you represent.
</div><br>
<a href="#">[Back to Top]</a>
<div class="simple_header"><a id="q2" name="q2"></a> 
Use of thevisiblecloset.com
</div>

<div class="simple_body">
<p>thevisiblecloset.com is provided solely for the use of current and potential The Visible Closet customers to interact with The Visible Closet and may not be used by any other person or entity, or for any other purpose. Specifically, all shipping, tracking, rating, receiving thevisiblecloset invoices and remitting payment using electronic funds transfer ("EFT"), drop-off location, and other information and services may only be used by current and potential The Visible Closet customers for their own shipments. Use of thevisiblecloset.com to provide information to or prepare shipments by or for the benefit of third party shippers is expressly prohibited.</p>
<p>
The use of automated dial-in or inquiry devices to obtain information through thevisiblecloset.com is strictly prohibited.</p>
 
<p>The Visible Closet does not accept ideas, concepts, or techniques for new services or products through thevisiblecloset.com. If such information is received, it will not be considered confidential and The Visible Closet will be deemed free to use, communicate and exploit such information in any manner it chooses.</p>
</div> 
<a href="#">[Back to Top]</a>
 
<div class="simple_header"><a id="q3" name="q3"></a>
	thevisiblecloset.com Login Registration
</div>
<div class="simple_body">
<p>You may choose to register on thevisiblecloset.com to access interactive features and services on thevisiblecloset.com. The availability of these services may vary. In the future, thevisiblecloset may add other features that may be accessed through thevisiblecloset.com Login. In such event, previously registered users will not be required to re-register.</p>
<p>By registering on thevisiblecloset.com, You agree to provide accurate and current information about Yourself as prompted by the thevisiblecloset.com Login Registration and maintain and promptly update Your online profile information to keep it accurate and current.</p>
<p> 
When you register using thevisiblecloset.com Login Registration, you will select an email address to use both for communicating information to You and to use as a user ID. You will also select a password when you register. You are responsible for maintaining the confidentiality of the password and user ID, and you are responsible for all activities that occur under Your password and user ID. You agree to (a) immediately notify The Visible Closet of any unauthorized use of Your user ID and password, and (b) ensure that You exit from Your thevisiblecloset.com session at the end of each visit.</p>
 </div>

<a href="/">[Back to Top]</a>

 <div class="simple_header"><a id="q4" name="q4"></a>
Changes to thevisiblecloset.com
</div>
<div class="simple_body">
<p>thevisiblecloset.com and its Content, may be changed, deleted or updated at any time without notice.</p>
 </div>

<a href="/">[Back to Top]</a>
<div class="simple_header"> <a id="q5" name="q5"></a>
Termination of Use
</div>
<div class="simple_body">
<p>The Visible Closet may discontinue, suspend or modify thevisiblecloset.com at any time without notice, and The Visible Closet may block, terminate or suspend Your and any user's access to thevisiblecloset.com at any time for any reason in its sole discretion, even if access continues to be allowed to others.</p>
</div> 

<a href="/">[Back to Top]</a>
<div class="simple_header"><a id="q6" name="q6"></a> 
Ownership
</div>
<div class="simple_body">
<p>thevisiblecloset.com and its Content are protected by United States and international copyright, trademark and other laws. © 2011 The Visible Closet. All rights reserved. The trademarks, logos and service marks displayed on this site are the property of thevisiblecloset.com  and other parties. Users are prohibited from using any Marks for any purpose including, but not limited to use as metatags on other pages or sites on the World Wide Web without the written permission of thevisiblecloset.com  or such third party which may own the Marks. The Visible Closet does not convey to anyone, through allowing access to thevisiblecloset.com, any ownership rights in thevisiblecloset.com or in any Content appearing on or made available through thevisiblecloset.com. Customer may not copy, modify, translate, transmit, distribute, adapt, reproduce, decompile, reverse engineer or disassemble any part of thevisiblecloset.com or its Content.</p>
</div>
<a href="/">[Back to Top]</a>
 <div class="simple_header"><a id="q7" name="q7"></a>
Disclaimer of Warranty
</div>
<div class="simple_body">
<p>THEVISIBLECLOSET.COM AND ITS CONTENT ARE PROVIDED "AS IS". THE VISIBLE CLOSET AND ITS LICENSORS DISCLAIM ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT, REGARDING ANY SUCH CONTENT AND YOUR ABILIITY OR INABILITY TO USE THEVISIBLECLOSET.COM AND ITS CONTENT.</p>
 <p>
THE VISIBLE CLOSET EXPRESSLY DISCLAIMS AND EXCLUDES ALL WARRANTIES REGARDING THEVISIBLECLOSET.COM AND THE FUNCTIONING OF THE INTERNET WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE VISIBLE CLOSET DOES NOT WARRANT THAT THIS SITE WILL MEET ALL OF CUSTOMER'S REQUIREMENTS OR THAT ITS OPERATIONS WILL BE UNINTERRUPTED OR ERROR FREE, OR THAT ANY DEFECT WITHIN THE SITE WILL BE CORRECTED. FURTHERMORE, THE VISIBLE CLOSET DOES NOT WARRANT NOR MAKE ANY REPRESENTATION REGARDING THE RESULTS OF CUSTOMER'S USE OF THIS SITE IN TERMS OF CAPABILITY, CORRECTNESS, ACCURACY, RELIABILITY OR OTHERWISE. NO ORAL OR WRITTEN INFORMATION, REPRESENTATION OR ADVICE GIVEN BY THE VISIBLE CLOSET OR AN AUTHORIZED REPRESENTATIVE OF THE VISIBLE CLOSET SHALL CREATE A WARRANTY.</p>
 </div>
<a href="/">[Back to Top]</a>
 <div class="simple_header"><a id="q8" name="q8"></a>
Limitation of Liability
</div>
<div class="simple_body">
<p>USE OF THEVISIBLECLOSET.COM AND ITS CONTENT IS AT YOUR SOLE RISK. THE VISIBLE CLOSET WILL IN NO EVENT BE LIABLE TO YOU OR ANY PERSON OR ENTITY CLAIMING THROUGH YOU FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, INCIDENTAL OR OTHER DAMAGES UNDER ANY THEORY OF LAW FOR ANY ERRORS IN OR THE USE OF OR INABILITY TO USE THEVISIBLECLOSET.COM AND ITS CONTENT INCLUDING WITHOUT LIMITATION, DAMAGES FOR LOST PROFITS, BUSINESS, DATA, OR DAMAGE TO ANY COMPUTER SYSTEMS, EVEN IF YOU HAVE ADVISED THE VISIBLE CLOSET OF THE POSSIBILITY OF SUCH DAMAGES.</p>
 </div>
<a href="/">[Back to Top]</a>
 <div class="simple_header"><a id="q9" name="q9"></a>
Indemnity
</div>
<div class="simple_body">
<p>You agree to defend, indemnify and hold harmless The Visible Closet, its parent and affiliate companies and their respective officers, directors, employees, agents and representatives from any and all claims (i) arising out of Your breach of any of these terms and conditions, and any of Your activities conducted in connection with this site.</p>
 </div>
<a href="/">[Back to Top]</a>
 <div class="simple_header"><a id="q10" name="q10"></a>
Links to other web sites.
</div>
<div class="simple_body">
<p>There are links on the thevisiblecloset.com site that allow You to visit the sites of third parties. Neither these sites nor the companies to whom they belong are controlled by The Visible Closet. The Visible Closet makes no representations concerning the information provided or made available on such sites nor the quality or acceptability of the products or services offered by any persons or entities referenced in any such sites.</p>
 <p>
The Visible Closet has not tested and makes no representations regarding the correctness, performance or quality of any software found at any such sites. You should research and assess the risks which may be involved in accessing and using any software on the Internet before using it.</p>
 </div>
<a href="/">[Back to Top]</a>
 <div class="simple_header"><a id="q11" name="q11"></a>
Privacy Policy
</div>
<div class="simple_body">
<p>The Visible Closet Privacy Policy governs the use of information acquired from You through thevisiblecloset.com.</p>
 </div>
<a href="/">[Back to Top]</a>
 <div class="simple_header"><a id="q12" name="q12"></a>
Controlling Law and Severability
</div>
<div class="simple_body">
<p>This Agreement and Your use of thevisiblecloset.com is governed by and construed in accordance with the laws of the United States and the State of Illinois, excluding its conflict of laws provisions. If for any reason a court of competent jurisdiction finds any provision of this Agreement, or a portion thereof, to be unenforceable, that provision shall be enforced to the maximum extent permissible.</p>
 <p>
Any cause of action with respect to thevisiblecloset.com or this Agreement must be instituted within one year after the claim or cause of action has risen or be barred and must be brought in a court of competent jurisdiction within Plainfield, Illinois. This Agreement may not be changed or modified without the written consent of The Visible Closet.</p>
 </div>
<a href="/">[Back to Top]</a>
 <div class="simple_header"><a id="q13" name="q13"></a>
Refund Policy 
</div>
<div class="simple_body">
<p>This Refund Policy applies to all credit card payments.   The Visible Closet will only issue refunds on credit card payments in cases of fraud or at The Visible Closet's discretion. Requests for Refunds should be made no later than 45 days after the payment posts to the customer’s account. Requests submitted after 45 days will not be refunded.</p>
<p>A valid reason is required for refund. In cases of fraud, the customer must submit a signed affidavit from the bank or the agency issuing the credit card. We are typically more inclined to refund payments where fraud can easily be determined, but we do not accommodate users of The Visible Closet that ask for a refund upon completing the payment entry and deciding that the payment should have been on a different card.</p>
 <p>
Reasons for disqualifying a refund are listed below:
 </p>
<ul>
	<li>Inability to report fraudulent payments within 45 days will disqualify the Request for Refund.</li>
	<li>Third party website blocking you or The Visible Closet from accessing their site. If you visit a site and that site ends up blocking your or The Visible Closet's servers, that is not grounds for refund.</li>
	<li>Data input errors by the operator or changes to your computer that prevent you from using thevisiblecloset.com's services will not be cause for refund. Note such changes can be caused by new software, upgrades, or operator error.</li>
	<li>We do not refund prepaid rent.</li>
</ul>
</div>
</div>