<div id="pricing">
    <div class="pricing-heading">
        <div class="pricing-textbox">
            <h1>Pricing</h1>
            <p>Visible Closet is a great way to store and manage your stuff.</p><br />
            <p>Here are some of the features our users enjoy...</p>
        </div>
        <div class="pricing-box2 hasbg">
            <img src="images/pricing-col2head.gif" alt="" class="colhead" />
            <div class="pricing-bignum">
                <p><span class="dollarsign">$</span>5</p>
            </div>
            <div class="pricing-smallnum">
                <p class="numadjust">00</p>
                <p>per box</p>
                <p>per month</p>
            </div>
            <div class="clearer"></div>
        </div>
        <div class="pricing-box3 hasbg">
            <img src="images/pricing-col3head.gif" alt="" class="colhead" />
            <div class="pricing-bignum">
                <p><span class="dollarsign">$</span>8</p>
            </div>
            <div class="pricing-smallnum">
                <p class="numadjust">00</p>
                <p>per box</p>
                <p>per month</p>
            </div>
            <div class="clearer"></div>
        </div>
        <div class="clearer"></div>
    </div>
    <div class="pricing-item">
        <div class="pricing-textbox">
            <p>Boxes stored in secure facility</p>
        </div>
        <div class="pricing-box2 hasbg">
            <img src="images/pricing-col2box.gif" alt="yes" />
        </div>
        <div class="pricing-box3 hasbg">
            <img src="images/pricing-col3box.gif" alt="yes" />
        </div>
        <div class="clearer"></div>
    </div>
    <div class="pricing-item pricing-gray">
        <div class="pricing-textbox">
            <p>Free shipping supplies</p>
        </div>
        <div class="pricing-box2 hasbg">
            <img src="images/pricing-col2box.gif" alt="yes" />
        </div>
        <div class="pricing-box3 hasbg">
            <img src="images/pricing-col3box.gif" alt="yes" />
        </div>
        <div class="clearer"></div>
    </div>
    <div class="pricing-item">
        <div class="pricing-textbox">
            <p>View your boxes online in your own visible closet</p>
        </div>
        <div class="pricing-box2 hasbg">
            <img src="images/pricing-col2box.gif" alt="yes" />
        </div>
        <div class="pricing-box3 hasbg">
            <img src="images/pricing-col3box.gif" alt="yes" />
        </div>
        <div class="clearer"></div>
    </div>
    <div class="pricing-item pricing-gray">
        <div class="pricing-textbox">
            <p>Inventory your items and manage them individually</p>
        </div>
        <div class="pricing-box2">
            <img src="images/pricing-col2cap.png" alt="" class="endcap" />
        </div>
        <div class="pricing-box3 hasbg">
            <img src="images/pricing-col3box.gif" alt="yes" />
        </div>
        <div class="clearer"></div>
    </div>
    <div class="pricing-item">
        <div class="pricing-textbox">
            <p>Mail items back to you</p>
        </div>
        <div class="pricing-box2">
            <p>&nbsp;</p>
        </div>
        <div class="pricing-box3 hasbg" >
            add $5 / shipment + shipping fee
        </div>
        <div class="clearer"></div>
    </div>
    <div class="pricing-item pricing-gray">
        <div class="pricing-textbox">
            <p>Dispose of items</p>
        </div>
        <div class="pricing-box2">
            <p>&nbsp;</p>
        </div>
        <div class="pricing-box3 hasbg" >
            add $.50 / lb
        </div>
        <div class="clearer"></div>
    </div>
    <div class="pricing-item">
        <div class="pricing-textbox">
            <p>Donate items</p>
        </div>
        <div class="pricing-box2">
            <p>&nbsp;</p>
        </div>
        <div class="pricing-box3 hasbg" >
            coming soon!
        </div>
        <div class="clearer"></div>
    </div>
    <div class="pricing-item pricing-gray">
        <div class="pricing-textbox">
            <p>Sell items</p>
        </div>
        <div class="pricing-box2">
            <p>&nbsp;</p>
        </div>
        <div class="pricing-box3 hasbg" >
            coming soon!
        </div>
        <div c
    <div class="pricing-item">
        <div class="pricing-textbox">
            <p>&nbsp;</p>
        </div>
        <div class="pricing-box2">
            <p>&nbsp;</p>
        </div>
        <div class="pricing-box3">
            <img src="images/pricing-col3cap.png" alt="" class="endcap" />
        </div>
        <div class="clearer"></div>
    </div>
</div>