<div id="pricing" class="slim-centered" >
     <div class="pricing-heading">
         <div class="pricing-textbox">
             <h1>Pricing</h1>
             <p>Visible Closet is a great way to store and manage your stuff.</p><br />
            <p>Here are some of the features our users enjoy...</p>
         </div>
         <div class="pricing-box2 hasbg">
             <img src="images/pricing-col2head.gif" alt="" class="colhead" />
             <div class="pricing-bignum">
                 <p><span class="dollarsign">$</span>5</p>
             </div>
             <div class="pricing-smallnum">
                 <p class="numadjust">00</p>
                 <p>per box</p>
                 <p>per month</p>
             </div>
             <div class="clearer"></div>
         </div>
         <div class="pricing-box3 hasbg">
             <img src="images/pricing-col3head.gif" alt="" class="colhead" />
             <div class="pricing-bignum">
                 <p><span class="dollarsign">$</span>8</p>
             </div>
             <div class="pricing-smallnum">
                 <p class="numadjust">00</p>
                 <p>per box</p>
                 <p>per month</p>
             </div>
             <div class="clearer"></div>
         </div>
         <div class="clearer"></div>
     </div>
     <div class="pricing-item">
         <div class="pricing-textbox">
             <p>Boxes stored in secure facility</p>
         </div>
         <div class="pricing-box2 hasbg">
             <img src="images/pricing-col2box.gif" alt="yes" />
         </div>
         <div class="pricing-box3 hasbg">
             <img src="images/pricing-col3box.gif" alt="yes" />
         </div>
         <div class="clearer"></div>
     </div>
     <div class="pricing-item pricing-gray">
         <div class="pricing-textbox">
             <p>Free shipping supplies</p>
         </div>
         <div class="pricing-box2 hasbg">
             <img src="images/pricing-col2box.gif" alt="yes" />
         </div>
         <div class="pricing-box3 hasbg">
             <img src="images/pricing-col3box.gif" alt="yes" />
         </div>
         <div class="clearer"></div>
     </div>
     <div class="pricing-item">
         <div class="pricing-textbox">
             <p>View your boxes online in your own visible closet</p>
         </div>
         <div class="pricing-box2 hasbg">
             <img src="images/pricing-col2box.gif" alt="yes" />
         </div>
         <div class="pricing-box3 hasbg">
             <img src="images/pricing-col3box.gif" alt="yes" />
         </div>
         <div class="clearer"></div>
     </div>
     <div class="pricing-item pricing-gray">
         <div class="pricing-textbox">
             <p>Inventory your items** and manage them individually</p>
         </div>
         <div class="pricing-box2">
             <img src="images/pricing-col2cap.png" alt="" class="endcap" />
         </div>
         <div class="pricing-box3 hasbg">
             <img src="images/pricing-col3box.gif" alt="yes" />
         </div>
         <div class="clearer"></div>
     </div>
     <div class="pricing-item">
         <div class="pricing-textbox">
             <p>Mail items back to you</p>
         </div>
         <div class="pricing-box2">
             <p>&nbsp;</p>
         </div>
         <div class="pricing-box3 hastext">
             <p class="textbox">$5 fee per shipment + cost of shipping</p>
         </div>
         <div class="clearer"></div>
     </div>
     <div class="pricing-item pricing-gray">
         <div class="pricing-textbox">
             <p>Dispose of items</p>
         </div>
         <div class="pricing-box2">
             &nbsp;
         </div>
         <div class="pricing-box3 hastext">
             <p class="textbox">Coming soon!</p>
         </div>
         <div class="clearer"></div>
     </div>
     <div class="pricing-item">
         <div class="pricing-textbox">
             <p>Donate items</p>
         </div>
         <div class="pricing-box2">
             <p>&nbsp;</p>
         </div>
         <div class="pricing-box3 hastext">
             <p class="textbox">coming soon!</p>
         </div>
         <div class="clearer"></div>
     </div>
     <div class="pricing-item pricing-gray">
         <div class="pricing-textbox">
             <p>Sell items</p>
         </div>
         <div class="pricing-box2">
             &nbsp;
         </div>
         <div class="pricing-box3 hastext">
             <p class="textbox">coming soon!</p>
         </div>
         <div class="clearer"></div>
     </div>
     <div class="pricing-item">
         <div class="pricing-textbox">
             <p>&nbsp;</p>
         </div>
         <div class="pricing-box2">
             <p>&nbsp;</p>
         </div>
         <div class="pricing-box3">
             <img src="images/pricing-col3cap.png" alt="" class="endcap" />
         </div>
         <div class="clearer"></div>
     </div>
 </div>
*Prices quoted are for Visible Closet boxes, which are 12&quot; X 12&quot; X 24&quot;. You are free to store your own boxes at a price of $3 per cubic foot per month for straight storage and $5 per cubic foot per month for inventorying.
<br><br>
**Each Visible Closet box has a maximum inventory count of 30 items. Any item more than 30 will incur a one-time fee of $.35. For your boxes, the max inventory per cubic foot before incurring the $.35 fee is 15.
