<div id="is-it-right" class="slim-centered" >
    <h1>Is this right for me?</h1>
    <div class="is-it-right-box">
        <div class="photo">
            <img src="images/right-frequent-travelers.jpg" alt="Frequent Travelers" />
        </div>
        <div class="bluebox">
        </div>
        <div class="heading">
            <p>Frequent Travelers</p>
        </div>
        <div class="body">
            <p>Additional text can go here, it will describe the person above in a little more detail.</p>
        </div>
    </div>
    <div class="is-it-right-box gaps">
        <div class="photo">
            <img src="images/right-students.jpg" alt="Students" />
        </div>
        <div class="bluebox">
        </div>
        <div class="heading">
            <p>Students</p>
        </div>
        <div class="body">
            <p>Additional text can go here, it will describe the person above in a little more detail.</p>
        </div>
    </div>
    <div class="is-it-right-box">
        <div class="photo">
            <img src="images/right-military.jpg" alt="Military" />
        </div>
        <div class="bluebox">
        </div>
        <div class="heading">
            <p>Military</p>
        </div>
        <div class="body">
            <p>Additional text can go here, it will describe the person above in a little more detail.</p>
        </div>
    </div>
    <div class="clearer bottom-border"></div>
    <div class="is-it-right-box">
        <div class="photo">
            <img src="images/right-job-relocation.jpg" alt="Job Relocation" />
        </div>
        <div class="bluebox">
        </div>
        <div class="heading">
            <p>Job Relocation</p>
        </div>
        <div class="body">
            <p>Additional text can go here, it will describe the person above in a little more detail.</p>
        </div>
    </div>
    <div class="is-it-right-box gaps">
        <div class="photo">
            <img src="images/right-remodelers.jpg" alt="Remodelers" />
        </div>
        <div class="bluebox">
        </div>
        <div class="heading">
            <p>Remodelers</p>
        </div>
        <div class="body">
            <p>Additional text can go here, it will describe the person above in a little more detail.</p>
        </div>
    </div>
    <div class="is-it-right-box">
        <div class="photo">
            <img src="images/right-organizers.jpg" alt="Organizers" />
        </div>
        <div class="bluebox">
        </div>
        <div class="heading">
            <p>Organizers</p>
        </div>
        <div class="body">
            <p>Additional text can go here, it will describe the person above in a little more detail.</p>
        </div>
    </div>
    <div class="clearer"></div>
</div>