<% @menu_page = :account %>
<%= render 'account/account_nav', :locals => { :menu_page => @menu_page } %>
<div id="internal-right">
	<div class="simple_header">Edit Address</div>
	(<%= link_to 'See all addresses', addresses_path %>)
<br><br>
<%= render 'form' %>
</div>