<%= render 'account/account_nav' %>
<div class="grid_2">
	<h1>Edit Address</h1></div>
	<div class="grid_10">
	<div style="position: relative; top:8px">(<%= link_to 'See all addresses', addresses_path %>)</div>
	</div>
<div class="grid_12">
	<div class="grid_7">
<%= render 'form' %>
	</div>
</div>
