<div class="grid_2">
	<ul class="side-menu clearfix">
<li><a href="/boxes">My Closet</a></li>
<li><a href="/account/store_more_boxes">Store More Stuff</a></li>
<li><a href="/account/cart">My Cart</a></li><br>
<li><a href="/">Support</a></li>
</ul>
</div>
