<% @menu_page = :account %>
<%= render 'account_nav', :locals => { :menu_page => @menu_page } %>
<div class="simple_header">New billing address</div>
<div id="internal-right">
<%= render 'form_add_new_billing_address' %>
</div>
<div class="clearer"></div>