<%= render 'account_nav' %>
<div id="internal-right">
<h1>Email Confirmation</h1>
Congratulations! You have confirmed your email account, and now have unrestricted access as a Visible Closet user! Welcome!<br><br>
<% if current_user.default_shipping_address.nil? %>
It looks like when you signed up you did not set up a default shipping address. You must do so in order to store your stuff with The Visible Closet. Why not set it up now? <a href="/addresses/new_default_shipping_address">Click here to continue!</a><br><br>
<% elsif current_user.default_payment_profile.nil? %>
It looks like when you signed up you did not set up a default credit card. You must do so in order to store your stuff with The Visible Closet. Why not set it up now? <a href="/payment_profiles/new_default_payment_profile">Click here to continue!</a><br><br>
<% elsif current_user.box_count > 0 %>
To browse your boxes or manage your account, use the menu at the left.
<% else %>
To start storing with The Visible Closet, click the "Store More Stuff" link on the left.
<% end %>
</div>
<div class="clearer"></div>