<%= render 'account_nav' %>
<div class="account_center">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p>
At some point this will contain more information ... but not today! 
<br>
<br>
<br>
</div>
