<% @menu_page = :account %>
<%= render 'account_nav', :locals => { :menu_page => @menu_page } %>
<div id="internal-right">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p>
At some point this will contain more information ... but not today! 
<br>
<br>
<br>
</div>
<div class="clearer"></div>